<h2>Pending Transactions</h2>

<table *ngIf="paginatedPendingTransactions.length > 0">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Description</th>
    <th></th>
  </tr>

  <tr *ngFor="let t of paginatedPendingTransactions">
    <td>{{ t.name }}</td>
    <td>{{ t.amount }}</td>
    <td class="statusPending">{{ t.status }}</td>
    <td>{{t.description}}</td>
    <td>
      <button (click)="markAsSuccess(t.timestamp)">
        ✅ Mark as Success
      </button>
    </td>
  </tr>
</table>

<div class="pagination">
  <div class="page-size">
    <label>Show:</label>

    <select (change)="onPageSizeChange($any($event.target).value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>

    <span>items per page</span>
    <!-- tombol sebelumnya -->
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      ⬅ Prev
    </button>

    <!-- info halaman -->
    <span>
      Page {{ currentPage }} / {{ totalPages }}
    </span>

    <!-- tombol berikutnya -->
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next ➡
    </button>
  </div>
</div>
<p *ngIf="paginatedPendingTransactions.length === 0">
  No pending transactions
</p>