<h1>CSV Viewer App</h1>
<upload-component></upload-component>
<app-transaction-summary></app-transaction-summary>
<p *ngIf="error" class="error">
  ❌ {{ error }}
</p>
<div class="tab-container">
  <button (click)="activeTab = 'transactions'" [class.active]="activeTab === 'transactions'">
    Transactions
  </button>

  <button (click)="activeTab = 'issues'" [class.active]="activeTab === 'issues'">
    Issues
  </button>
</div>
<div *ngIf="!loading">
  <app-table-transaction *ngIf="activeTab === 'transactions'"></app-table-transaction>
  <app-table-issue *ngIf="activeTab === 'issues'"></app-table-issue>
</div>
<p *ngIf="loading">⏳ Uploading & fetching data...</p>
<ng-template #empty>
  <p>No data yet. Upload CSV first.</p>
</ng-template>