<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Name</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody *ngIf="(paginatedTransactions  | async) as data">
    <ng-container *ngIf="data.length > 0; else empty">
      <tr *ngFor="let t of data">
        <td>{{ t.timestamp }}</td>
        <td>{{ t.name }}</td>
        <td>{{ t.type }}</td>
        <td>{{ t.amount }}</td>

        <td [ngClass]="t.status === 'SUCCESS' ? 'statusSuccess' : 'statusPending'">
          {{ t.status === 'SUCCESS' ? '✅' : '⏳' }} {{ t.status }}
        </td>

        <td>{{ t.description }}</td>
      </tr>
    </ng-container>
  </tbody>

  <ng-template #empty>
    <tr>
      <td colspan="6" style="text-align:center;">
        No data available. Please upload CSV.
      </td>
    </tr>
  </ng-template>
</table>
<div class="pagination">

  <div class="page-size">
    <label>Show:</label>

    <select (change)="onPageSizeChange(+$any($event.target).value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>

    <span>items per page</span>
    <!-- tombol sebelumnya -->
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      ⬅ Prev
    </button>

    <!-- info halaman -->
    <span>
      Page {{ currentPage }} / {{ totalPages$ | async }}
    </span>

    <!-- tombol berikutnya -->

    <button (click)="nextPage()" [disabled]="currentPage >= (totalPages$ | async)!">
      Next ➡
    </button>
  </div>

</div>